fastapi
pytest
uvicorn
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose
alembic
bcrypt<4.0
joblib
numpy
scipy
pandas
opencv-python
huggingface_hub
vosk
pcse
pymongo[srv]==3.12
openai
gradio_client
scikit-learn
python-multipart
pydub
pyaudioop-lts

